<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Updating email confirmation OTP by LMS*SAST</title>
    <style type="text/css">
      /* Base */
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: sans-serif, Arial, "Times New Roman", Times, serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #0070f3;
        color: #ffffff;
      }
      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
      }
      .btn {
        display: inline-block;
        background-color: #0070f3;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <header class="email-header">
        <h1>Updating email address requesting OTP from LMS*SAST</h1>
      </header>
      <main class="email-body">
        <p>Hi <%= user.name%>!</p>
        <p>
          Thank you for requesting to update your email in LMS*SAST. To activate
          your new email address from your existing email:
          <span style="color: rgba(255, 0, 0, 0.7)"><%=user.email%></span>,
          please use the following activation OTP code:
        </p>
        <h2><%= activationCode%></h2>
        <p>
          Please enter this OTP code on activation page within the next 5
          minutes.
        </p>
        <p>
          If you did not update your email address for your LMS*SAST account
          then you can ignore this mail.
        </p>
      </main>
      <footer class="email-footer">
        <p>
          If you have any Question, please don't hesitate to contact us at
          <a href="mailto:support@ocrylms.com">support@ocrylms.com</a>
        </p>
        <hr />
        <p>
          Developed & Maintains by
          <a href="https://offcarry.com">OffCarry Environment Inc.</a> //
          Founder & CEO
          <a href="https://itszshahriar.web.app">SHAHRIAR AHMED</a>
        </p>
      </footer>
    </div>
  </body>
</html>
